<div class="auth-container card shadow-lg p-4 mx-auto mt-5">
  <h3 class="text-center mb-4 text-primary fw-semibold">Belépés</h3>
  <div id="messageBox"></div>

  <form>
    <div class="mb-3">
      <label for="emailField" class="form-label">Email cím</label>
      <input type="email" class="form-control" id="emailField" placeholder="pl. nev@email.com">
    </div>
    <div class="mb-3">
      <label for="passwordField" class="form-label">Jelszó</label>
      <input type="password" class="form-control" id="passwordField" placeholder="••••••••">
    </div>
    <button class="btn btn-primary w-100 mt-3" id="loginBtn" onclick="login()">Belépés</button>
    <p class="text-center mt-3">Nincs fiókod? <a href="#" onclick="render('register')">Regisztrálj itt!</a></p>
  </form>
</div>
